<%= image_tag "logo.png", class: "logo" %>
<div class="container">
    <div class="google">구글로 로그인하기</div>
    <div class="facebook">페이스북으로 로그인하기</div>
    <div class="kakao">카카오로 로그인하기</div>
    <div class="naver">네이버로 로그인하기</div>
</div>
<%= stylesheet_link_tag 'loginshow' %>